# Игнорировать все файлы
*

# Но не игнорировать каталоги (необходимы для того, чтобы Git мог пройти по дереву директорий)
!*/

# Не игнорировать файлы .py
!*.py

# Не игнорировать файлы .py
!*.csv

# Не игнорировать файл requirements.txt
!requirements.txt

# Не игнорировать файл requirements.txt
!.gitignore


my_env/